<h1> Shipment registration</h1>
<mat-divider class="mb-2"></mat-divider>
<div class="grid">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <form class="grid" [formGroup]="deliveryForm">

          <mat-form-field class="col-12">
            <mat-label>Guide number</mat-label>
            <input matInput type="text" required formControlName="guideNumber" />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Price</mat-label>
            <input matInput type="number" required formControlName="price" />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Amount</mat-label>
            <input matInput type="number" required formControlName="amount" />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Deadline</mat-label>
            <input matInput type="date" required formControlName="deadline" />
          </mat-form-field>

          <mat-tab-group class="col-12">
            <mat-tab label="General product consultation.">
              <app-product-search-name (productSelectedEventEmitter)="productSelectedEventEmitter($event)">
              </app-product-search-name>
            </mat-tab>
            <mat-tab label="Specific product consultation.">
              <app-product-search-mult (productSelectedEventEmitter)="productSelectedEventEmitter($event)">
              </app-product-search-mult>
            </mat-tab>
          </mat-tab-group>

          <mat-tab-group class="col-12" (selectedIndexChange)="selectedIndexChange($event)">
            <mat-tab label="Ground shipments">
              <shared-store-search
                (storeSelectedEventEmitter)="storeSelectedEventEmitter($event)"></shared-store-search>
              <shared-vehicle-search
                (vehicleSelectedEventEmitter)="vehicleSelectedEventEmitter($event)"></shared-vehicle-search>
            </mat-tab>
            <mat-tab label="Maritime shipments">
              <shared-port-search (portSelectedEventEmitter)="portSelectedEventEmitter($event)"></shared-port-search>
              <shared-ship-search
                (shipmentSelectEventEmitter)="shipmentSelectEventEmitter($event)"></shared-ship-search>
            </mat-tab>
          </mat-tab-group>

          <button class="col-3 mx-2" mat-raised-button color="primary" (click)="onSumit()">
            Guardar
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
