<div class="flex flex-column p-2">
  <h3>Buscador</h3>
  <mat-form-field>
    <mat-label>Buscador de puerto</mat-label>
    <input type="text" matInput [formControl]="searchInput" (input)="searchPort()" [matAutocomplete]="auto" />

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectedOption($event)">
      <mat-option *ngFor="let port of ports" [value]="port">
        {{port.location}}
      </mat-option>
      <mat-option *ngIf="ports.length===0 && searchInput.value&&searchInput.value.length>0" value="">
        No se encontro nada con el termino {{searchInput.value}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
